@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

/* .dark .post-content h1{
    color: red;
} */
.post-content p {
    margin-bottom: 0.5rem;
}

.ql-syntax{
    background-color: rgb(13, 15, 17);
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}

.post-content h2{
    font-size: 1.5rem;
    font-weight: 500;
}